<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="root">
        <div class="window">
            <div class="nav_side">
                <div class="header_window">
                    <div class="utente">
                        <img :src="path + utente.avatar + ext" alt="">
                        <p>{{ utente.name }}</p>
                        
                    </div>
                    <div class="icone">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notifiche_blu">
                    <div class="campanella">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="testo">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div id="search_div">
                    <input type="search" name="" id="search" placeholder="Cerca o inizia una nuova chat">
                    <i class="fas fa-search lens"></i>
                </div>
                <div class="messaggi_utenti">
                    <ul>
                        <li v-for="(contact,index) in contacts" @click="messaggio(index)">
                            <img :src="path + contact.avatar + ext" alt="">
                            <p>{{contact.name}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main_window">
                <div class="header_window">
                    <div class="utente" v-for="element in contacts" v-if="element.visible">
                        <img :src="path + element.avatar + ext" alt="">
                        <div>
                            <p>{{ element.name }}</p>
                            <p>Ultimo accesso oggi alle</p>
                        </div>
                    </div>
                    <div class="icone">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="main_messaggi">
                    <ul>
                       <li class="sent">
                            <p>Hai portato a spasso il cane?</p>
                            <p class="ora">10/01/2020 15:30:55</p>

                       </li>
                       <li class= "sent">
                            Ricordati di dargli da mangiare
                            <p class="ora">10/01/2020 15:50:00</p>
                       </li>
                       <li class="received">
                            Tutto fatto!
                            <p class="ora">10/01/2020 16:15:22</p>
                       </li>
                    </ul>
                </div>
                <div class="main_footer">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>